<div class="body">
    <div style="width: 60%; margin-top: 50px; position: relative;">
        <p class="back-button" (click)="back()"> Back</p>
        <div style=" display: flex; align-items: center;" >
            <div style="flex-grow: 1;">
                <p class="plain-text title">Test</p>
                <div class="top-margin-20">
                    <p class="plain-text">Name:</p>
                    <p class="plain-text left-margin-10">{{event_name}}</p>
                </div>

                <div class="top-margin-20">
                    <p class="plain-text">Date:</p>
                    <p class="plain-text left-margin-10">{{event_date}}</p>
                </div>

                <div class="top-margin-20">
                    <p class="plain-text">Total tickets:</p>
                    <p class="plain-text left-margin-10">{{available_tickets}}</p>
                </div>
            </div>
            <div style="flex-grow: 1; position: relative;">
                <div style=" background-color: lightblue; width: 400px; height: 400px; margin: auto;" >

                </div>
            </div>
        </div>

        <div *ngIf="available_tickets >= 0" style="margin-top: 100px;">
            <p class="plain-text title">Buy Ticket</p>

            <p class="plain-text top-margin-20">Owner:</p> 
            <div style="display: flex;" class="top-margin-20">
                <div style="flex-grow: 1;"  >
                    <p class="plain-text">Name</p>
                    <div>
                        <input [(ngModel)]="array[0].first" class="input-text" type="text" style="width: 100px;" placeholder="Name"/>
                    </div>
                </div>
                <div style="flex-grow: 1;" class="left-margin-10">
                    <p class="plain-text">Surname</p>
                    <div>
                        <input [(ngModel)]="array[0].second" class="input-text" type="text" style="width: 100px;" placeholder="Surname"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-margin-20">
            <p class="plain-text" style="display: block;">Sector:</p>
            <select [(ngModel)]="selected_sector" class=" input-text" style="width: 200px;">
                <option *ngFor="let item of sectors" [value]="item.name">{{ item.name }} ({{ item.availableTickets }} tickets available)</option>
            </select>
        </div>

        <p class="plain-text top-margin-20" style="display: block;">Total price: {{price}}</p>

        <div style="display: flex; justify-content: center;">
            <p class="confirm-button" (click)="confirmBuy()">Confirm</p>
        </div>
    </div>
</div>
