#navbar {
    background-color: #212129;
    width: 100%;
    height: 10vh;
}

#text-area {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    display: flex; /* Attiva il layout Flexbox */
    justify-content:space-evenly; /* Distribuisce uniformemente le stringhe */
    align-items: center
}

.text {
    color: white;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.login-container {
    position: absolute;
    left: 90%;
    top: 10px;
}

.login {
    background-color: #f64586;
    color: white;
    display: inline-block;
    
    padding: 2px 20px;
    border-radius: 10px;
    border: 1px white solid;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}