.body {
    background-color: #323949;
    width: 100%;
    height: 90vh;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.plain-text {
    color: white;
    display:  inline-block;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.subtitle {
    font-size: 25px;
}

.ticket {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.ticket-text {
    color: black;
    display:  inline-block;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-10 {
    margin-left: 10px !important; 
}

.input-text {
    color: black;
    display:  inline-block;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
    padding: 5px;
    border-radius: 5px; 
}


.general-button {
    color: white;
    background-color:coral;
    border: 1px black solid;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}