<div class="body">
    <div style="width: 60%; margin-top: 50px;">
        <p class="plain-text title">My tickets</p>
        <div *ngFor="let item of tickets" class="ticket">
            <div>
                <p class="ticket-text">Event Name</p>
                <div style="display: flex; margin-top: 20px;">
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Sector name</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Seat: To be decide</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">00/00/0000</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Group: None</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Status: Valid</p>
                </div>
            </div>
        </div>
        <div *ngIf="tickets.length == 0" class="mt-20">
            <p class="plain-text">No tickets</p>
        </div>

        <div *ngIf="isOrganizer" class="mt-20">
            <div  style="display: flex; align-items: center;">
                <p class="plain-text title" style="display: inline-block !important ;">My events</p>
                <p class="general-button ml-10" style="width: 200px; display: inline-block;" (click)="createEvent()">Create event</p>
            </div>
            <div *ngFor="let item of events" class="ticket">
                <div>
                    <p class="ticket-text">{{item}}</p>
                    <div style="display: flex; margin-top: 20px;">
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">Sectors count</p>
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">Ticket count</p>
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">00/00/0000</p>
                    </div>
                </div>
            </div>
            <div *ngIf="events.length == 0" class="mt-20">
                <p class="plain-text">No Event.</p>
            </div>
        </div>

        <div *ngIf="isAdmin" class="mt-20">
            <div>
                <p class="plain-text title">Organization manager</p>
                <p class="plain-text subtitle mt-10">Add Organizer</p>
                <div style="display: flex; align-items: center;">
                    <p class="plain-text">Address:</p>
                    <input class="input-text ml-10" type="text" placeholder="0x000..." [(ngModel)]="addAddress" />
                    <p class="general-button ml-10" (click)="addOrganizer()">Confirm</p>
                </div>
                <p class="plain-text subtitle mt-10">Remove Organizer</p>
                <div style="display: flex; align-items: center;">
                    <p class="plain-text">Address:</p>
                    <input class="input-text ml-10" type="text" placeholder="0x000..." [(ngModel)]="removeAddress"/>
                    <p class="general-button ml-10" (click)="removeOrganizer()">Confirm</p>
                </div>
            </div>
        </div>

    </div>
</div>