<div class="body">
    <div style="width: 60%; margin-top: 50px;">
        <p class="plain-text title">My tickets</p>
        <div *ngFor="let item of tickets; let i = index" class="ticket mt-20">
            <div>
                <p class="ticket-text" style="display: block;">{{item.eventId}}</p>
                <div style="display: flex; margin-top: 20px;">
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Ticket id: {{item.id}}</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Sector name: {{item.sectorId}}</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Seat: To be decide</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Date: {{this.formatter.format(1)}}</p>
                    <p style="flex-grow: 1; text-align: center;" class="ticket-text">Group: {{item.groupId}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-evenly;">
                <p *ngIf="showGroupManagement === i" class="general-button" style="width: 250px;" (click)="hideManageGroup(i)"> Hide Manage group </p>
                <p *ngIf="showGroupManagement != i" class="general-button" style="width: 250px;" (click)="manageGroup(i)"> Manage group </p>
                <p *ngIf="item.status == 1" class="general-button" style="width: 250px;" (click)="sellTicket(i)"> Sell ticket </p>
                <p *ngIf="item.status == 0" class="general-button" style="width: 250px;" (click)="removeSell(i)"> Remove from sell </p>
            </div>
            <div *ngIf="showGroupManagement === i" style="display: flex; justify-content: center; border: 1px black solid; padding: 10px; border-radius: 10px;" >
                <div>
                    <p *ngIf="item.groupId == 0" class="general-button" style="width: 250px; margin: auto;" (click)="createGroup(i)" >Create new Group </p>
                    <p *ngIf="item.groupId != 0" class="general-button" style="width: 250px; margin: auto;"(click)="removeFromGroup(i)" >Exit Group </p>
                    <div *ngIf="item.groupId != 0" style="display: flex; align-items: center;">
                        <p class="ticket-text">Add member to the group: </p>
                        <input class="input-text ml-10" type="text" placeholder="Ticket address" [(ngModel)]="ticketAddress" />
                        <p class="general-button ml-10" (click)="addToGroup(i)">Confirm</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tickets.length == 0" class="mt-20">
            <p class="plain-text">No tickets</p>
        </div>

        <div *ngIf="isOrganizer" class="mt-20">
            <div  style="display: flex; align-items: center;">
                <p class="plain-text title" style="display: inline-block !important ;">My events</p>
                <p class="general-button ml-10" style="width: 200px; display: inline-block;" (click)="createEvent()">Create event</p>
            </div>
            <div *ngFor="let item of events; let i = index" class="ticket">
                <div>
                    <p class="ticket-text">{{item.name}}</p>
                    <div style="display: flex; margin-top: 20px;">
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">Sector:{{item.sectorCount}}</p>
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">Available ticket: {{item.totAvailableSeats}}</p>
                        <p style="flex-grow: 1; text-align: center;" class="ticket-text">Date:{{this.formatter.format(item.time)}}</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <p *ngIf="showValidation === i" class="general-button" style="width: 250px;" (click)="hideValidationPage(i)"> Hide Validation </p>
                    <p *ngIf="showValidation != i" class="general-button" style="width: 250px;" (click)="showValidationPage(i)"> Validate </p>
                    <p  class="general-button" style="width: 250px;" (click)="expireTickets(i)"> Expire tickets </p>
                    <p  class="general-button" style="width: 250px;" (click)="assignSeats(i)"> Assign seat </p>
                </div>
                <div *ngIf="showValidation === i" style="border: 1px black solid; padding: 10px; border-radius: 10px;" >
                    <div style="display: flex; justify-content: space-evenly;" class="top-margin-20">
                        <div style="flex-grow: 1; text-align: center;"  >
                            <p class="ticket-text">Id</p>
                            <div>
                                <input [(ngModel)]="validationData.id" class="input-text" type="text" style="width: 100px;" placeholder="Name"/>
                            </div>
                        </div>
                        <div style="flex-grow: 1; text-align: center;"  >
                            <p class="ticket-text">Name</p>
                            <div>
                                <input [(ngModel)]="validationData.name" class="input-text" type="text" style="width: 100px;" placeholder="Name"/>
                            </div>
                        </div>
                        <div style="flex-grow: 1; text-align: center;" class="left-margin-10">
                            <p class="ticket-text">Surname</p>
                            <div>
                                <input [(ngModel)]="validationData.surname" class="input-text" type="text" style="width: 100px;" placeholder="Surname"/>
                            </div>
                        </div>
                        <p class="general-button ml-10" (click)="verifyTicket(i)">Confirm</p>
                    </div>
                </div>
            </div>
            <div *ngIf="events.length == 0" class="mt-20">
                <p class="plain-text">No Event.</p>
            </div>
        </div>

        <div *ngIf="isAdmin" class="mt-20">
            <div>
                <p class="plain-text title">Organization manager</p>
                <p class="plain-text subtitle mt-10">Add Organizer</p>
                <div style="display: flex; align-items: center;">
                    <p class="plain-text">Address:</p>
                    <input class="input-text ml-10" type="text" placeholder="0x000..." [(ngModel)]="addAddress" />
                    <p class="general-button ml-10" (click)="addOrganizer()">Confirm</p>
                </div>
                <p class="plain-text subtitle mt-10">Remove Organizer</p>
                <div style="display: flex; align-items: center;">
                    <p class="plain-text">Address:</p>
                    <input class="input-text ml-10" type="text" placeholder="0x000..." [(ngModel)]="removeAddress"/>
                    <p class="general-button ml-10" (click)="removeOrganizer()">Confirm</p>
                </div>
            </div>
        </div>

    </div>
</div>