<div id="body">
    <div class="grid-container" id="gridContainer" >
        <div class="grid-item" *ngFor="let item of items" (click)="openEvent()">
            <div class="grid-item-top">
                <p class="plain-text bottom-left">{{ item.first }}</p>
                <p class="plain-text bottom-right">0.01 eth</p>
            </div>
            <div class="grid-item-bottom">
                <p class="plain-text center title">{{ item.second }}</p>
            </div>
        </div>
    </div>
</div>